.place-card__image {
  max-width: 460px;
  width: 460px;
}


@media screen and (min-width: 1024px) and (max-width: 1279px) {

  .place-card__image {
    max-width: 400px;
  }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {

  .place-card__image {
    max-width: 340px;
  }

}

@media screen and (max-width: 767px) {

  .place-card__image {
    max-width: 100%;
    width: 100%;
    filter: grayscale(100%);
  }

}
