@import url(__container/footer__container.css);
@import url(__copyright/footer__copyright.css);
@import url(__links/footer__links.css);
@import url(__link-item/footer__link-item.css);
@import url(__link/footer__link.css);

.footer {
  margin: 0 48px 24px 48px;
  padding: 0;
}


@media screen and (max-width: 768px) {

  .footer {
    margin: 0 24px 24px 24px;
  }

}

@media screen and (max-width: 425px) {

  .footer {
    margin: 0 0 24px 16px;
  }

}
